<section id="explore-brands">
<div class="explore-brands">
    <nav class="left">
        <p>{{section.settings.explore-brands}}</p>
      {% comment %}
        {% for block in section.blocks %}
        <a href="#">
            <img src="{{block.settings.company_logo | img_url:'master' }}" alt="" />
        </a>
        {%endfor%}
        {% endcomment %}
        <div class="brands">
          <a href="#">
            <svg class="h-5" width="42" height="13" viewBox="0 0 42 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M27.1151 12.7394C26.2234 12.7387 25.3519 12.4854 24.6108 12.0115C23.8697 11.5376 23.2923 10.8644 22.9516 10.077C22.6108 9.28961 22.5221 8.42333 22.6965 7.58772C22.8709 6.7521 23.3007 5.98465 23.9315 5.38239C24.5623 4.78013 25.3658 4.3701 26.2404 4.20412C27.1151 4.03815 28.0216 4.12368 28.8454 4.44992C29.6692 4.77616 30.3732 5.32844 30.8686 6.03697C31.3639 6.74549 31.6283 7.57844 31.6283 8.43051C31.6268 9.57349 31.1507 10.6692 30.3046 11.4771C29.4584 12.285 28.3113 12.739 27.1151 12.7394ZM27.1151 5.99503C26.6109 5.99468 26.118 6.13722 25.6986 6.40462C25.2792 6.67203 24.9522 7.05227 24.759 7.49727C24.5658 7.94226 24.5151 8.43201 24.6132 8.90457C24.7113 9.37712 24.954 9.81125 25.3103 10.152C25.6667 10.4928 26.1209 10.725 26.6154 10.8191C27.1098 10.9132 27.6224 10.8651 28.0882 10.6808C28.5541 10.4965 28.9523 10.1843 29.2324 9.78378C29.5126 9.38323 29.6621 8.91228 29.6621 8.43051C29.6616 7.78503 29.3932 7.1661 28.9157 6.70951C28.4382 6.25292 27.7907 5.99597 27.1151 5.99503Z" fill="#9E9E9E"></path>
      <path d="M13.3181 8.99242C13.3448 8.80616 13.3583 8.61839 13.3588 8.43039C13.3588 7.28759 12.8837 6.1916 12.038 5.38352C11.1923 4.57544 10.0453 4.12146 8.8493 4.12146C7.65332 4.12146 6.50632 4.57544 5.66063 5.38352C4.81495 6.1916 4.33984 7.28759 4.33984 8.43039C4.34025 8.61839 4.35385 8.80616 4.38054 8.99242C4.50285 9.88494 4.91484 10.7184 5.55859 11.3755C6.20233 12.0327 7.04545 12.4806 7.96938 12.6561C8.89332 12.8317 9.8516 12.7261 10.7095 12.3543C11.5674 11.9824 12.2817 11.363 12.7521 10.5831L11.0541 9.64636C10.8 10.0692 10.4188 10.4093 9.95981 10.6223C9.50085 10.8354 8.98544 10.9116 8.48055 10.8411C7.97566 10.7705 7.50465 10.5565 7.12872 10.2268C6.7528 9.89716 6.48935 9.46706 6.37261 8.99242H13.3181ZM6.50394 7.49367C6.54731 7.39781 6.59673 7.30456 6.65191 7.21442C6.88888 6.82106 7.23632 6.49892 7.65492 6.28444C8.07353 6.06995 8.5466 5.97168 9.02061 6.00073C9.49463 6.02979 9.95068 6.18501 10.3372 6.44885C10.7237 6.71269 11.0252 7.07461 11.2076 7.49367H6.50394Z" fill="#9E9E9E"></path>
      <path d="M20.4678 4.30908L17.9874 10.3289L15.507 4.30908H13.3984L16.7963 12.5523H19.1786L22.5746 4.30908H20.4678Z" fill="#9E9E9E"></path>
      <path d="M39.9383 10.4897C39.8543 10.6361 39.7215 10.7513 39.561 10.817C39.4005 10.8826 39.2215 10.895 39.0528 10.852C38.8841 10.8091 38.7353 10.7133 38.6302 10.58C38.5252 10.4467 38.4699 10.2836 38.4733 10.1168V5.80789H40.7817V4.30913H38.4733V0.751343H36.5127V10.1186C36.5116 10.6961 36.7103 11.2577 37.0778 11.7161C37.4453 12.1746 37.961 12.5041 38.5448 12.6535C39.1286 12.8029 39.7476 12.7637 40.3057 12.5421C40.8638 12.3205 41.3296 11.9289 41.6307 11.4282L39.9383 10.4897Z" fill="#9E9E9E"></path>
      <path d="M34.8278 4.30908H32.8672V12.5505H34.8278V4.30908Z" fill="#9E9E9E"></path>
      <path d="M33.8483 3.40732C34.4979 3.40732 35.0246 2.90405 35.0246 2.28325C35.0246 1.66244 34.4979 1.15918 33.8483 1.15918C33.1986 1.15918 32.6719 1.66244 32.6719 2.28325C32.6719 2.90405 33.1986 3.40732 33.8483 3.40732Z" fill="#9E9E9E"></path>
      <path d="M3.14441 10.7634C3.02644 10.8307 2.89154 10.8661 2.75414 10.8659C2.54614 10.8659 2.34666 10.7869 2.19958 10.6464C2.05251 10.5059 1.96988 10.3153 1.96988 10.1165V0.749268H0V10.1165C0.000978735 10.8118 0.290486 11.4784 0.80504 11.9701C1.31959 12.4618 2.0172 12.7384 2.74489 12.7393C3.22648 12.7398 3.69954 12.6178 4.11548 12.3859L3.14441 10.7634Z" fill="#9E9E9E"></path>
      <path d="M8.85609 3.22728C7.94625 3.22588 7.05267 2.9967 6.26438 2.56256C5.4761 2.12842 4.82063 1.50448 4.36328 0.752914L5.72093 0C6.04042 0.526264 6.49913 0.962996 7.05103 1.26638C7.60293 1.56977 8.22862 1.72915 8.86534 1.72852C9.49892 1.72606 10.1208 1.56522 10.6692 1.26198C11.2175 0.958748 11.6733 0.523677 11.9913 0L13.3489 0.751147C12.8918 1.50305 12.2364 2.12734 11.4481 2.56179C10.6598 2.99625 9.76612 3.2257 8.85609 3.22728Z" fill="#9E9E9E"></path>
    </svg>
          </a>
          <a href="#">
            <svg class="h-5" width="75" height="19" viewBox="0 0 75 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.3571 5.0332L7.98425 12.4061L9.45883 13.8807L15.3571 7.98236L16.8317 9.45694L9.45883 16.8298L3.56052 10.9315L2.08594 12.4061L7.98425 18.3044C8.79773 19.1179 10.1199 19.1179 10.9334 18.3044L18.3063 10.9315C19.1198 10.1158 19.1198 8.79584 18.3063 7.98236L15.3571 5.0332Z" fill="#9E9E9E"></path>
      <path d="M9.45758 2.08469L10.9322 3.55927L5.03384 9.45758L6.50842 10.9322L13.8813 3.55927L10.9322 0.610112C10.1187 -0.203371 8.79648 -0.203371 7.983 0.610112L0.610112 7.983C-0.203371 8.79873 -0.203371 10.1187 0.610112 10.9322L9.45758 2.08469Z" fill="#9E9E9E"></path>
      <path d="M22.9336 14.4094V4.50195H29.9457V6.35974H25.0424V8.43939H29.8404V10.2972H25.0424V12.5561H29.9457V14.4139H22.9336V14.4094Z" fill="#9E9E9E"></path>
      <path d="M31.8752 12.6124V8.8834H30.6875V7.23626H31.8752V5.27539H33.7622V7.23626H35.2188V8.88564H33.7622V12.1082C33.7622 12.5698 33.9997 12.9105 34.4165 12.9105C34.6989 12.9105 34.9656 12.8074 35.0709 12.6886L35.472 14.1296C35.1897 14.3828 34.6854 14.5912 33.8966 14.5912C32.5722 14.589 31.8752 13.9055 31.8752 12.6124Z" fill="#9E9E9E"></path>
      <path d="M35.8594 10.8168C35.8594 8.7371 37.4034 7.05859 39.5727 7.05859C41.7263 7.05859 43.1673 8.66315 43.1673 10.996V11.442H37.8337C37.9682 12.3182 38.6808 13.0465 39.8977 13.0465C40.5072 13.0465 41.3386 12.7933 41.798 12.3474L42.6451 13.5956C41.9325 14.25 40.803 14.5906 39.6892 14.5906C37.5087 14.5906 35.8594 13.1205 35.8594 10.8168ZM39.5727 8.60488C38.3984 8.60488 37.8942 9.42285 37.8202 10.1355H41.3565C41.296 9.44974 40.8209 8.60488 39.5727 8.60488Z" fill="#9E9E9E"></path>
      <path d="M49.0251 14.4114L47.1247 11.6482L46.2619 12.5693V14.4114H44.375V4.50391H46.2619V10.4314L48.9803 7.23793H51.2975L48.4603 10.4919L51.3871 14.4136H49.0251V14.4114Z" fill="#9E9E9E"></path>
      <path d="M51.3867 10.8168C51.3867 8.61833 52.9913 7.05859 55.1897 7.05859C56.6598 7.05859 57.5517 7.69728 58.0268 8.35165L56.7943 9.51025C56.4536 9.00602 55.9315 8.7371 55.2793 8.7371C54.1364 8.7371 53.3342 9.56851 53.3342 10.8168C53.3342 12.065 54.1364 12.9121 55.2793 12.9121C55.9337 12.9121 56.4536 12.614 56.7943 12.1255L58.0268 13.2841C57.5517 13.9385 56.6598 14.5906 55.1897 14.5906C52.9913 14.5906 51.3867 13.0309 51.3867 10.8168Z" fill="#9E9E9E"></path>
      <path d="M58.8164 5.33448C58.8164 4.71148 59.3206 4.2207 59.9302 4.2207C60.5532 4.2207 61.0597 4.71148 61.0597 5.33448C61.0597 5.95748 60.5554 6.46394 59.9302 6.46394C59.3229 6.46394 58.8164 5.95972 58.8164 5.33448ZM58.9957 14.4105V7.23709H60.8826V14.4128H58.9957V14.4105Z" fill="#9E9E9E"></path>
      <path d="M62.9495 12.6124V8.8834H61.7617V7.23626H62.9495V5.27539H64.8364V7.23626H66.293V8.88564H64.8364V12.1082C64.8364 12.5698 65.0739 12.9105 65.4907 12.9105C65.7731 12.9105 66.0398 12.8074 66.1451 12.6886L66.5463 14.1296C66.2639 14.3828 65.7597 14.5912 64.9708 14.5912C63.6464 14.589 62.9495 13.9055 62.9495 12.6124Z" fill="#9E9E9E"></path>
      <path d="M67.8423 15.5277C68.0059 15.6017 68.2592 15.6465 68.4362 15.6465C68.927 15.6465 69.2542 15.5121 69.4312 15.1266L69.6979 14.5036L66.7891 7.23828H68.8082L70.6794 12.229L72.5664 7.23828H74.5877L71.215 15.586C70.6794 16.9373 69.7293 17.2936 68.4967 17.325C68.2883 17.325 67.7975 17.2802 67.5756 17.2062L67.8423 15.5277Z" fill="#9E9E9E"></path>
    </svg>
          </a>
          <a href="#">
            <svg class="h-5" width="51" height="24" viewBox="0 0 51 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M34.8618 5.5631C33.2375 2.36945 31.2232 0 28.2004 0C23.4118 0 21.1532 5.94374 18.9698 11.6925C16.9742 16.9472 14.9094 22.3803 11.1956 22.3803C9.15145 22.3803 7.60856 20.7329 6.30082 18.3769H4.53516C6.15849 21.5695 8.17271 23.94 11.1956 23.94C15.9841 23.94 18.2427 17.9963 20.4261 12.2475C22.4218 6.99282 24.4865 1.55969 28.2004 1.55969C30.2445 1.55969 31.7884 3.20706 33.0962 5.5631H34.8618Z" fill="#9E9E9E"></path>
      <path d="M17.1891 12.6522C17.2242 12.4304 17.2438 12.2025 17.2438 11.9704C17.2438 11.7383 17.2252 11.5103 17.1891 11.2885C16.8612 9.2306 15.0749 7.65234 12.9266 7.65234C11.4662 7.65234 10.1739 8.38164 9.39217 9.49467C9.02398 10.0197 8.7682 10.6283 8.66404 11.2875C8.62897 11.5093 8.60938 11.7372 8.60938 11.9693C8.60938 12.2014 8.62794 12.4294 8.66404 12.6512C8.992 14.7091 10.7783 16.2874 12.9266 16.2874C14.387 16.2874 15.6792 15.5581 16.461 14.445L15.1842 13.5507C14.685 14.2614 13.8599 14.7287 12.9266 14.7287C11.6415 14.7287 10.5617 13.8436 10.2564 12.6522H17.1891ZM10.2564 11.2875C10.34 10.9605 10.4802 10.6572 10.669 10.389C11.1681 9.67829 11.9932 9.211 12.9266 9.211C14.2116 9.211 15.2915 10.0961 15.5957 11.2885H10.2564V11.2875Z" fill="#9E9E9E"></path>
      <path d="M49.0201 13.5507C48.521 14.2614 47.6959 14.7287 46.7625 14.7287C45.8291 14.7287 45.0051 14.2614 44.5049 13.5507C44.1903 13.103 44.0037 12.5583 44.0037 11.9704C44.0037 11.3824 44.1903 10.8377 44.5049 10.389C45.0041 9.67726 45.8291 9.211 46.7625 9.211C47.6959 9.211 48.5199 9.67829 49.0201 10.389L50.2969 9.49467C49.5152 8.38164 48.2229 7.65234 46.7625 7.65234C45.3021 7.65234 44.0099 8.38164 43.2281 9.49467C42.7351 10.1961 42.4453 11.0492 42.4453 11.9704C42.4453 12.8905 42.7351 13.7436 43.2281 14.445C44.0099 15.5581 45.3021 16.2874 46.7625 16.2874C48.2229 16.2874 49.5152 15.5581 50.2969 14.445L49.0201 13.5507Z" fill="#9E9E9E"></path>
      <path d="M30.7144 7.79297L28.1412 14.0606L25.568 7.79297H23.8828L27.2986 16.1123L25.4535 20.6068H27.1388L32.3986 7.79297H30.7144Z" fill="#9E9E9E"></path>
      <path d="M6.83059 7.79297L4.25842 14.0606L1.68522 7.79297H0L3.43025 16.1484H5.08556L8.51581 7.79297H6.83059Z" fill="#9E9E9E"></path>
      <path d="M34.1443 16.1481V11.9704C34.1443 10.4489 35.3819 9.211 36.9031 9.211C38.4244 9.211 39.662 10.4489 39.662 11.9704V16.1481H41.2203V11.9704C41.2203 9.58958 39.2835 7.65234 36.9031 7.65234C34.5228 7.65234 32.5859 9.58958 32.5859 11.9704V16.1481H34.1443Z" fill="#9E9E9E"></path>
      <defs>
      <linearGradient id="paint0_linear" x1="8.32218" y1="23.348" x2="31.0789" y2="0.595627" gradientUnits="userSpaceOnUse">
      <stop stop-color="#006689"></stop>
      <stop offset="0.5" stop-color="#00C1BC"></stop>
      <stop offset="1" stop-color="#64EDC2"></stop>
      </linearGradient>
      </defs>
    </svg>
          </a>
        </div>
    </nav>
    <nav class="right">
        <ul>
            <li>
                {{section.settings.your-account}}
                 <svg class="" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.13523 6.15803C3.3241 5.95657 3.64052 5.94637 3.84197 6.13523L7.5 9.56464L11.158 6.13523C11.3595 5.94637 11.6759 5.95657 11.8648 6.15803C12.0536 6.35949 12.0434 6.67591 11.842 6.86477L7.84197 10.6148C7.64964 10.7951 7.35036 10.7951 7.15803 10.6148L3.15803 6.86477C2.95657 6.67591 2.94637 6.35949 3.13523 6.15803Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
    </svg>
                <div class="submenu">
                <p>Welcome, User!</p>
                <ul>
                    <li>
                        <a class="border-bottom" href="#">Favorites
                        </a>
                    </li>
                </ul>
                <div>
                    <a href="#" class="log-sign-btn">
                        Login / Sign Up
                    </a>
                </div>
                </div>

            </li>
            <li>
                {{section.settings.our-company}}
                <svg class="" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.13523 6.15803C3.3241 5.95657 3.64052 5.94637 3.84197 6.13523L7.5 9.56464L11.158 6.13523C11.3595 5.94637 11.6759 5.95657 11.8648 6.15803C12.0536 6.35949 12.0434 6.67591 11.842 6.86477L7.84197 10.6148C7.64964 10.7951 7.35036 10.7951 7.15803 10.6148L3.15803 6.86477C2.95657 6.67591 2.94637 6.35949 3.13523 6.15803Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
    </svg>
                <div class="submenu-company">
                <ul class="block-block">
                <li>
                <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Press Release</a>
                    </li>
                    <li>
                        <a href="#">Careers</a>
                        </li>
                        <li>
                            <a href="#">Newsroom</a>
                            </li>
                
                </ul>
                
                </div>
            </li>
            <li>
                {{section.settings.help}}
                <svg class="" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.13523 6.15803C3.3241 5.95657 3.64052 5.94637 3.84197 6.13523L7.5 9.56464L11.158 6.13523C11.3595 5.94637 11.6759 5.95657 11.8648 6.15803C12.0536 6.35949 12.0434 6.67591 11.842 6.86477L7.84197 10.6148C7.64964 10.7951 7.35036 10.7951 7.15803 10.6148L3.15803 6.86477C2.95657 6.67591 2.94637 6.35949 3.13523 6.15803Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
    </svg>
                
                <div class="submenu-help">
                    <p>
                        Get help from our experts
                    </p>
                    <p class="color-text">
                        Monday - Friday 9:00am - 5:00pm PST
                    </p>

                    <a class="phone-num" href="#">1-888-402-1684</a>

                    <ul class="circle-block">
                        <li>
                        
                            <span></span> <a class="circle" href="#">Help Center</a>
                        
                        </li>

                        <li>
                        
                            <span></span> <a class="circle" href="#">Email Us</a>
                        
                        </li>
                    
                    </ul>

                    <ul class="links">
                        <li>
                        <a href="#">Track Order</a>
                      </li>
                      <li>
                        <a href="#">User Manuals</a>
                      </li>
                      <li>
                        <a href="#">Shipping</a>
                      </li>
                      <li>
                        <a href="#">Returns</a>
                      </li>
                      <li>
                        <a href="#">Register your Product</a>
                      </li>
                    </ul>
                </div>
                
            </li>
        </ul>
    </nav>
</div>
</section>
{% schema %}
  {
    "name": "Explore Brands",
    "tag": "section",
    "class": "section",
    "settings": [
        {
      "type": "text",
      "id": "explore-brands",
      "label": "Section Title"
    },
    {
        "type": "text",
        "id": "your-account",
        "label": "Account Details"
    },
    {
        "type": "text",
        "id": "our-company",
        "label": "Company Details"
    },
    {
        "type": "text",
        "id": "help",
        "label": "Help Details"
    }
    ],
    "blocks":[
        {
            "name":"Companies logo",
            "type": "Companieslogo",
            "settings": [
                {
                "type": "image_picker",
                "id": "company_logo",
                "label": "Company Logo"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "company url"
                
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Explore Brands",
        "settings": {
        }
      }
    ]
  }
{% endschema %}