<section id="banner-section--{{ section.id }}" class="main-banner">
  <div class="main-banner-text">
  <h1>{{ section.settings.heading }}</h1>
  <a href="#">{{ section.settings.banner-btn }}</a>
  </div>
  <div class="main-banner-img">
  {%- if section.settings.main-image != blank -%}
              <img src="{{ section.settings.main-image | img_url: 'master' }}"
            alt="{{ section.settings.main-image.alt | escape }}"
            loading="lazy"
          >
            {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Main Banner",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "main-image",
          "type": "image_picker",
          "label": "Main Slide"
        },
        {
          "id": "banner-btn",
          "type":"text",
          "label": "learn more"
        },
        {
          "id": "url",
          "type": "url",
          "label": "Product Url"
    }
    ],
    "presets": [
    {
      "name": "Main Banner",
      "category": "SlideShow"
    }
    ]
  }
{% endschema %}
